/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.weather-icon{
    background: gray;
    border-radius: 25px;
    margin-right: 10px;
}